<a href="https://colab.research.google.com/github/NikhilRaj2004/Psp-assignment-/blob/main/2205A21032_A_8_bio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***SELF INTRO***

In [ ]:
Qualification=["NIKHILRAJ","B.TECH",2026,"M.TECH",2028]
Experience=['SSCE', 2007, 'infosys', '2011', 'AITAM', '2013', 'SREC', '2018']

CA=Qualification + Experience

print("Qualification = ", Qualification)

print("Experience    = ", Experience)

print("CONCATINATION = ", CA) #CA-Qualification+Experience #Concatination of the two Lists

Qualification =  ['NIKHILRAJ', 'B.TECH', 2026, 'M.TECH', 2028]
Experience    =  ['SSCE', 2007, 'infosys', '2011', 'AITAM', '2013', 'SREC', '2018']
CONCATINATION =  ['NIKHILRAJ', 'B.TECH', 2026, 'M.TECH', 2028, 'SSCE', 2007, 'infosys', '2011', 'AITAM', '2013', 'SREC', '2018']

In [ ]:
Qualification=["NIKHILRAJ","B.TECH",2026,"M.TECH",2028]

print(Qualification) #Print Qualification

print(Qualification[0])#Print first item in the list

print(Qualification[1:])#Print all items in the List except first one

print(Qualification[1:5])#Print second to fifth items from List

print (Qualification*2)#Print List Twice

print(Qualification[::-1])#Print The List in Reverse

['NIKHILRAJ', 'B.TECH', 2026, 'M.TECH', 2028]
NIKHILRAJ
['B.TECH', 2026, 'M.TECH', 2028]
['B.TECH', 2026, 'M.TECH', 2028]
['NIKHILRAJ', 'B.TECH', 2026, 'M.TECH', 2028, 'NIKHILRAJ', 'B.TECH', 2026, 'M.TECH', 2028]
[2028, 'M.TECH', 2026, 'B.TECH', 'NIKHILRAJ']

In [ ]:
list=['Starkie','2004']
print('Starkie', list[1])
list[0]="Nikhil Raj"
list[1]=2005
print('Nikhil Raj birth year', list[1])

Starkie 2004
Nikhil Raj birth year 2005

In [ ]:
list=['Starkie','2004']
print(list)
del list[1]
print(list)

['Starkie', '2004']
['Starkie']

In [ ]:
Name=['NikhilRaj', 'Starmie', 'Starkie']
DOB=[2004,2004,2003]
print("Number of peoples", len(Name))
print('==========' )
Details=Name+DOB
print('Biodata', Details)
print('==========' )
Repetition=Name *2
print('Repetition', Repetition)
print('========')
for x in Name:
   print(x)
print('=========')

Number of peoples 3
==========
Biodata ['NikhilRaj', 'Starmie', 'Starkie', 2004, 2004, 2003]
==========
Repetition ['NikhilRaj', 'Starmie', 'Starkie', 'NikhilRaj', 'Starmie', 'Starkie']
========
NikhilRaj
Starmie
Starkie
=========

In [ ]:
Name=['Nikhil','Starmie','Starkie']
DOB=[2004,2004,2003]
print("Name with maximum charecters=",max(Name))
print("Younger person DOB=", max(DOB))
print("Name with minimum charecters=",min(Name))
print("Older person DOB=", min(DOB))

Name with maximum charecters= Starmie
Younger person DOB= 2004
Name with minimum charecters= Nikhil
Older person DOB= 2003

In [ ]:
Students=['Starkie', 'Starmie']
print (Students)
Students.append('NikhilRaj')
print (Students)

['Starkie', 'Starmie']
['Starkie', 'Starmie', 'NikhilRaj']

In [ ]:
Grade=['A', 'A', 'B', 'C', 'A']
print("How many peoples got A grade", Grade.count('A'))

How many peoples got A grade 3

In [ ]:
Family=['Venkat', 'Swetha']
print('Family members', Family)
atuple=('Dev', 'Thanmai')
Family.extend(atuple)
print('Family members', Family)

Family members ['Venkat', 'Swetha']
Family members ['Venkat', 'Swetha', 'Dev', 'Thanmai']

In [ ]:
Grade=['A', 'A', 'B', 'C', 'A']
print('lower index for grade B',Grade.index('B'))

lower index for grade B 2

In [ ]:
Family=['Ramana', "Swetha", "Thanmai", 'Dev']
print('Family members', Family)
Family.remove("Ramana")
print('Family members', Family)

Family members ['Ramana', 'Swetha', 'Thanmai', 'Dev']
Family members ['Swetha', 'Thanmai', 'Dev']

In [ ]:
Family =['Ramana', "Swetha", "Thanmai", "Dev"]
print('Family members', Family)
Family.reverse()
print("Family members", Family)

Family members ['Ramana', 'Swetha', 'Thanmai', 'Dev']
Family members ['Dev', 'Thanmai', 'Swetha', 'Ramana']

In [ ]:
Name =["Ramana", "Thanmal", 'Dev']
print("Family members", Name)
Name.insert(1, "Swetha")
print("Family members", Name)

Family members ['Ramana', 'Thanmal', 'Dev']
Family members ['Ramana', 'Swetha', 'Thanmal', 'Dev']

In [ ]:
Name =["Ramana", "Thanmal", 'Dev']
print("Family members", Name)
Name.insert(1, "Swetha")
print("Family members", Name)

Family members ['Ramana', 'Thanmal', 'Dev']
Family members ['Ramana', 'Swetha', 'Thanmal', 'Dev']

In [ ]:
Family=['Ramana', "Swetha", "Thanmai", 'Dev']
print('Family members', Family)
Family.pop()
print('Family members', Family)
Family.pop(2)
print('Family members', Family)

Family members ['Ramana', 'Swetha', 'Thanmai', 'Dev']
Family members ['Ramana', 'Swetha', 'Thanmai']
Family members ['Ramana', 'Swetha']

In [1]:
tuple=("venkat", 'B.Tech', 2006)
print(tuple)
print(tuple[0])
print(tuple[0:2])
print(tuple[0:])
print(tuple[::-1])
print(tuple[2:0:-1])

('venkat', 'B.Tech', 2006)
venkat
('venkat', 'B.Tech')
('venkat', 'B.Tech', 2006)
(2006, 'B.Tech', 'venkat')
(2006, 'B.Tech')

In [2]:
tiny={'Name': 'Venkat', 'Marks':891}
print(tiny)
print(tiny['Name'])
print(tiny['Marks'])
tiny['Name']='ramana'
print(tiny)
print(tiny['Marks'])
tiny['Name']='ramana'
print(tiny)

{'Name': 'Venkat', 'Marks': 891}
Venkat
891
{'Name': 'ramana', 'Marks': 891}
891
{'Name': 'ramana', 'Marks': 891}

In [3]:
thisset = {"apple", "banana", "cherry"}
tropical ={"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'cherry', 'pineapple', 'mango', 'banana', 'apple', 'papaya'}

In [4]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
 print(x)

cherry
banana
apple

In [5]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
mylist_2=(2,3)
mylist_3={"Name":"Venkat", "School": "SRU"}
thisset.update(mylist)
thisset.update(mylist_2)
thisset.update(mylist_3)
print(thisset)

{2, 3, 'banana', 'kiwi', 'apple', 'orange', 'cherry', 'Name', 'School'}